* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

body {
	background-color: var(--blue);
	color: white;
}

.app {
	height: 100px;
	display: flex;
	flex-direction: column;
}

.app-body {
	flex-grow: 1;
	display: flex;
}

.player{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

button{
    background-color: none;
    border: none;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.symbol{
    margin: 0px 12px;
    font-size: 26px;
}

.progressive{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 17px;
}

.progressive2{
    height: 5px;
    width: 100px;
    flex-grow: 1;
}

.commands > * {
    font-size: 25px;
    margin: 0 10px;
}

.slider {
    height: 3px;
    width: 100px;
    flex-grow: 1;
}

